  <launch>
    <!-- swarm topic transmitter bridge-->
    <include file="$(find swarm_bridge)/launch/bridge.launch">
        <arg name="drone_id" value="999"/>
        <arg name="broadcast_ip" value="127.0.0.255"/>
    </include>

    <!-- map -->
    <node pkg ="map_generator" name ="random_forest" type ="random_forest" output = "screen">    
        <param name="map/x_size"     value="60" />
        <param name="map/y_size"     value="15" />
        <param name="map/z_size"     value="3" />
        <param name="map/resolution" value="0.1"/>        
    
        <param name="ObstacleShape/seed" value="1"/>
        
        <!-- 
            0 : none
            1 : wall with hole

         -->
        <param name="fix_obs_type" value="0"/>
        
        <param name="map/obs_num"    value="80"/> <!--60-->
        <param name="ObstacleShape/lower_rad" value="0.3"/>
        <param name="ObstacleShape/upper_rad" value="0.5"/>
        <param name="ObstacleShape/lower_hei" value="0.0"/>
        <param name="ObstacleShape/upper_hei" value="3.0"/>        
        
        <param name="map/circle_num" value="20"/>        
        <param name="ObstacleShape/radius_l" value="1.0"/>        
        <param name="ObstacleShape/radius_h" value="1.2"/>        
        <param name="ObstacleShape/z_l" value="0.7"/>        
        <param name="ObstacleShape/z_h" value="0.8"/>        
        <param name="ObstacleShape/theta" value="0.5"/>        
    
        <param name="pub_rate"   value="1.0"/>  
        <param name="min_distance" value="0.8"/>         
    </node>

   </launch>